@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 2vw;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 3vh;
  }
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
